<!DOCTYPE html>
<html>
    <head>
        <title>NicheGames - News</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/home.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/myaccount/myaccount.css') }}">
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
        <!-- href="{{ url_for('static', filename='index/style.css') }}" -->
    </head>
    <body>
		{% include "/home/side_bar.html" %}

        <div class="main">
            <div class="user-info">
                <svg class="profile-pic"><use href="#myaccount-icon"></use></svg>
                <span class="username golden-text">{{ user.username }}</span>
                <span class="user-id">{{ user.id | format_id | safe}}</span>
            </div>
        </div>
  	</body>
    <script type="module" src="{{ url_for('static', filename='home/home.js') }}"></script>

    {% include "/home/svgs.html.j2"%}
</html>
