<!DOCTYPE html>
<html>
    <head>
        <title>NicheGames</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/news/news.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/home.css') }}">
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
        <!-- href="{{ url_for('static', filename='index/style.css') }}" -->
    </head>
    <body>
        <div class="side-bar">
            <div class="link" id="news">
                <svg class="icon"><use href="#news-icon"></use></svg>
                <span>News</span>
            </div>
            <div class="link" id="play">
                <svg class="icon"><use href="#play-icon"></use></svg>
                <span>Play</span>
            </div>
            <div class="link" id="friends">
                <svg class="icon"><use href="#friends-icon"></use></svg>
                <span>Friends</span>
            </div>
            <div class="link" id="github">
                <svg class="icon"><use href="#github-icon"></use></svg>
                <span>Github</span>
            </div>
            <div class="link" id="log-out">
                <svg class="icon"><use href="#logout-icon"></use></svg>
                <span>Log Out</span>
            </div>
        </div>

        <dialog class="log-out modal">
            <h3 class="golden-text">You can Hide but you will</h3>
            <h2 class="golden-text">NEVER ESCAPE</h2>
            <h1 class="golden-text">The Lobster</h1>

            <button id="log-out-button" onclick="window.location.replace('/auth/logout')">I'll take the risk</button>
            <button id="close-modal">I'm sorry</button>
        </dialog>

        <div class="main">
            {% for n in news_json %}
                <div class="news">
                    <h1 class="golden-text"> {{n.title}} </h1>
                    <p> {{ n.paragraph }} </p>
                    <span class="date"> {{ n.date }} </span>
                </div>
            {% endfor %}
        </div>
  	</body>
    <script type="module" src="{{ url_for('static', filename='home/home.js') }}"></script>

    <svg>
        <defs>
            <linearGradient id="golden-gradient">
                <stop stop-color="#b8860b" offset="0"   ></stop>          
                <stop stop-color="#ffd700" offset="50%" ></stop>
                <stop stop-color="#fff1a6" offset="100%" ></stop>
            </linearGradient>
        </defs>

        {{ "assets/svgs/home/news.svg"    | get_svg | safe }}
        {{ "assets/svgs/home/play.svg"    | get_svg | safe }}
        {{ "assets/svgs/home/friends.svg" | get_svg | safe }}
        {{ "assets/svgs/home/github.svg"  | get_svg | safe }}
        {{ "assets/svgs/home/logout.svg" | get_svg | safe }}
    </svg>
</html>
