    <svg>
        <defs>
            <linearGradient id="golden-gradient">
                <stop stop-color="#b8860b" offset="0"   ></stop>          
                <stop stop-color="#ffd700" offset="50%" ></stop>
                <stop stop-color="#fff1a6" offset="100%" ></stop>
            </linearGradient>
        </defs>

        {{ "assets/svgs/icons/news.svg"      | get_svg | safe }}
        {{ "assets/svgs/icons/play.svg"      | get_svg | safe }}
        {{ "assets/svgs/icons/friends.svg"   | get_svg | safe }}
        {{ "assets/svgs/icons/github.svg"    | get_svg | safe }}
        {{ "assets/svgs/icons/logout.svg"    | get_svg | safe }}
        {{ "assets/svgs/icons/myaccount.svg" | get_svg | safe }}
        {{ "assets/svgs/icons/copy.svg"      | get_svg | safe }}
        {{ "assets/svgs/icons/goback.svg"    | get_svg | safe }}
        {{ "assets/svgs/icons/start.svg"     | get_svg | safe }}
        {{ "assets/svgs/icons/config.svg"     | get_svg | safe }}
    </svg>