div.user-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(3px) brightness(0.5);
    border: 1px solid rgb(90, 90, 90);

    height: 50vh;
    width: 50vh;

    border-radius: 3vh; 
    padding: 5vh;
    align-items: center;
}

.main {
    position: absolute;
    height: 100%;
    width: calc(100% - 20vw);
    right: 0;
}

svg.profile-pic use{
    stroke: white;
    stroke-width: 3.5;
    fill: none;
    stroke-linecap: round;
}

span.username {
    font-size: 6vh;
}

span.user-id {
    font-size: 3vh;
    color: rgb(190, 190, 190);
}