div.earth-container {
    flex: 1;
}

div.slider {
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 50%, white 50%);
    height: 6vh;
    border-radius: 3vh;
    position: relative;
    box-shadow: var(--shadow-m);
    margin: 5vh 0;
}

div.slider .text {
    position: absolute;
    width: 100%;

    font: var(--h2);
    font-weight: 700;

    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    line-height: 6vh;

    color: transparent; /* el truco: el texto será transparente */
    background: linear-gradient(270deg, var(--secondary) 0%, var(--primary) 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
}

div.slider .text::selection {
    background-color: transparent;
    color: auto;
}

